<div class="artistContainer">
	<div class="backHome" onclick="Backbone.history.navigate('home', true);">
		<i class="fa fa-chevron-left"></i>
		<i class="fa fa-search" style="margin-right: 5px"></i>
		<div class="text">Home</div>
	</div>
	<div id="artistHeaderSpot"></div>
	<div class="similarHeader">Similar Artists</div>
	<div class="similarArtistsList" id="similarArtistSpot"></div>
</div>