<div class="resultsHeader">
	<div class="header">
		Search Results
	</div>
	<div class="column">
		Songs
	</div>
	<div class="column">
		Artists
	</div>
</div>
<div class="results">
	<div class="column" id="songsColumn"></div>
	<div class="column" id="artistsColumn"></div>
</div>