<div class="songContainer">
	<div class="backHome" onclick="Backbone.history.navigate('home', true);">
		<i class="fa fa-chevron-left"></i>
		<i class="fa fa-search" style="margin-right: 5px"></i>
		<div class="text">Home</div>
	</div>
	<div id="songHeaderSpot"></div>
	<div class="similarHeader">Similar Songs</div>
	<div class="similarSongsList" id="similarSongSpot"></div>
</div>